# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.vs
/.vs/PokerGame/FileContentIndex/909d12fb-832b-443f-ac48-897c6b1e5080.vsidx
/.vs/PokerGame/FileContentIndex/bd2e45c8-3a21-46d6-8720-daaba356be58.vsidx
/.vs/PokerGame/FileContentIndex/e63d7480-84ab-48d9-91c9-33e8aac29688.vsidx
